section.products-and-cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 5%;
    gap: 6%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15%;
    row-gap: 40px;
    padding-top: 5%;
}

.shopping-cart-icon {
    font-size: 25px;
    color: #ff9900;
    cursor: pointer;
    display: none;
}

.hidden{
    display: none !important;
}
.show {
    display: block !important;
}

@media(max-width:768px) {
    section.products-and-cart {
        grid-template-columns: repeat(1, 1fr);
        position: relative;
    }

    .products-and-cart .cart-container {
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }

    .cart-container .cart {
        height: fit-content;
        display: none;
    }
    .shopping-cart-icon {
        margin-right: 20px;
    }
    .cart-show-icon{
        display: block;
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
    }

}